{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}
<html lang="en" ng-app="TestApp">

<head>
        <link   rel="stylesheet"
                href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
        <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "bower_components/css/style2.css" %}">
</head>
<body>
  {% include "header.html" %}
  <div class="alert alert-warning" role="alert">...</div>
  <div id="panel_logout" class="panel panel-primary" align="center">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans "Logout" %}</h3>
    </div>
    <p style="margin-top:20px">{% trans 'Are you sure you want to sign out?' %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit">{% trans 'Sign Out' %}</button>
      <a href="/home"><button type="button">No</button> </a>
    </form>
  </div>
</body>
