{% load staticfiles %}
<html>
    .editLabels {
        display:inline-block;
        width:125px;
        margin-right:100px;
    }
  {% if user.extendeduser.adminuser.registered %}
    <div class="container">
    <form action="/editBio" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      Introduce Yourself :<br>
        <div id="imageContainer">
                        <img src="{{instance.photos.url}}" alt="Item" id="itemThumbnail">

                        <input  type="file"
                                id="photoButton"
                                accept="image/*"
                                name="photos">
                    </div>
        <div class="fieldContainers">
            <label  class="editLabels"
                    for="bio">bio: </label>
            <input  id="bio"
                    type="text"
                    name="bio"
                    value="{{ form.user.extendeduser.bio.value}}">
        </div>
        <div class="fieldContainers">
            <label  class="editLabels"
                    for="zipcode">zipcode: </label>
            <input  id="zipcode"
                    type="text"
                    name="zipcode"
                    value="{{ form.user.extendeduser.zipcode.value}}">
        </div>
      <input type="submit" value="Submit">
    </form>
    </div>
  {% endif %}
</html>

<!--
<html>
  <div class="col-md-9" id="itemListContainer">
    <div id="newItemContainer">
      <form method="link" action="/editBio" id="editBio_Form">
        <button name="editBio"
                type="text"
                id="editBio_button"
                onClick="form.submit()"><i class="glyphicon glyphicon-plus"></i> Add</button>
      </form>
    </div>
  </div>
</html>
-->
