{% load i18n %}
{% load staticfiles %}
<html lang="en">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "bower_components/css/style1.css" %}">
    <head>
        <title>Contact us</title>
    </head>
    <body>
        {% include "header.html" %}
        <div class="container">
            <div class="jumbotron panel panel-info">
                <p>Garbage Collector</p>
                <ul class="nav navbar-default">
                    <li> <i class="glyphicon glyphicon-phone"></i> Phone Number: (608)772-9865 </li>
                    <li role="separator" class="divider"></li>
                    <li> <i class="glyphicon glyphicon-envelope"></i> Email: zyp5511@gmail.com </li>
                    <li role="separator" class="divider"></li>
                    <li> <i class="glyphicon glyphicon-map-marker"></i> Address: Mesa Nueva, 3869 Miramar St, La Jolla, CA 92092</li>
                </ul>

            </div>
        </div>

        <div style="text-align:center;" class="container">
          <form action="/sendEmail" method="POST">
            {% csrf_token %}
            <input style="width:200px;" class="messageInput" type="text" name="name" placeholder="Please enter your name" required><br>
            <input style="width:200px;" class="messageInput" type="text" name="email" placeholder="abc123@example.com" required><br>
            <textarea style="margin-top:10px" name="message" rows="20" cols="80" type="text" placeholder="Ask us anything..."></textarea><br>
            <button style="margin-top:10px; color:blue; background-color:white;" type="submit" class="btn btn-primary">Send Message</button>
          </form>
        </div>
        <!-- <nav id="footer_sub_page" class="navbar navbar-default navbar-static-top"> -->
          <!-- {% include "footer.html" %} -->
        <!-- </nav> -->
    </body>
</html>
