<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>


  <body>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        var SanDiego = {lat: 32.715736, lng: -117.161087}
        map = new google.maps.Map(document.getElementById('map'), {
          center: SanDiego,
          zoom: 11
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            //pos_num = 3
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            //var randomPos1 = {lat: 32.715736, lng: -117.161087}
            //var randomPos2 = {lat: 32.815736, lng: -117.261087}
            var marker = new google.maps.Marker({
                position: pos,
                map:map,
            })

            google.maps.event.addListener(marker, 'click', (function(marker) {
                return function() {
                  infoWindow.setPosition(pos);
                  infoWindow.setContent(
                    '<img src="http://s7d2.scene7.com/is/image/DesignWithinReach/PD_4666_MAIN?$main$">'
                    +'<p><a href="http://www.dwr.com/workspace-desks-tables/celine-desk/525121.html?lang=en_US&mrkgcl=664&mrkgadid=3074657638&adpos=1o2&creative=96969741999&device=c&matchtype=&network=g&gclid=Cj0KCQjw5-TXBRCHARIsANLixNy06sEuBSWteipI2L9J5qr4b-7vecZ7mcYziEeqcSvFkOv07fdbLb0aAsMYEALw_wcB">Click Me</a></p>'
                  );

                  infoWindow.open(map);
                }
              })(marker));
              map.setCenter(pos);
              map.setZoom(12);

          },
          function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        }


        else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB84VyA47vdb2vQTyKI3jmBgKMhEf72BTc&callback=initMap">
    </script>
  </body>
</html>
