{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}
<html>
        <link   rel="stylesheet"
                href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
        <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <head>
        <title>Hello world</title>
        <link rel="stylesheet" href="{% static "bower_components/css/index.css" %}">
    </head>

    <body>
      {% include "header.html" %}
      <p>Hello World</p>
        <div>
          {% if user.is_authenticated %}
           <a href="/profile"><i class="glyphicon glyphicon-log-in"></i> &nbsp;Profile</a>
           <a href="/accounts/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
          {% else %}
          <a href="/accounts/login"><i class="glyphicon glyphicon-log-in"></i> Login</a>
          <a href="/about"><i class="glyphicon glyphicon-question-sign"></i> &nbsp;About</a>
          {% endif %}
        </div>
        {% include "footer.html" %}
    </body>
</html>
