{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}
<html>
        <link   rel="stylesheet"
                href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
        <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "bower_components/css/style1.css" %}">
    <head>
        <title>Hello world</title>
    </head>

    <body>
      {% include "header.html" %}
      <div class="container">
        <div class="jumbotron">
          <h1>Welcome!</h1>
          {% include "searchBar.html" %}
        </div>
      </div>


        <div class="container">
          {% if garbage %}
          {% for i in garbage %}
                <div style="border-radius: 25px; border: 2px solid white; margin:29px" class="col-sm-5">
                    <p style="color:red; text-align:center; font-size:20px"><a href='/ItemDetails?grabage={{i.id}}'>Title: {{i.title}}</a></p>
                  <div class="thumbnail" style="padding:0px;">
                    <img src="{{i.get_image_path}}">
                  </div>
                  <p style="color:red;">
                    <span style="float:left;">Price: ${{i.cost}}</span>
                    <span style="float:right;">Seller: {{i.owner}}</span>
                  </p>
                </div>
                <!-- <p>{{i.title}}</p>
                <p>{{i.cost}}</p>
                <p>{{i.owner}}</p> -->
          {% endfor %}
          {% endif %}
          {% if user.is_authenticated %}
          {% else %}
          {% endif %}

        </div>

      <div class="container">
        {% if user.is_authenticated %}
         <!-- <a href="/profile"><i class="glyphicon glyphicon-log-in"></i> &nbsp;Profile</a> -->
         <!-- <a href="/accounts/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a> -->
        {% else %}
        <!-- <a href="/accounts/login"><i class="glyphicon glyphicon-log-in"></i> Login</a> -->
        <!-- <a href="/about"><i class="glyphicon glyphicon-question-sign"></i> &nbsp;About</a> -->
        {% endif %}
      </div>
      <!-- <nav id="footer_main_page" class="navbar navbar-default navbar-static-top">
        {% include "footer.html" %}
      </nav> -->
    </body>
</html>
