<!DOCTYPE html>
{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}
<html lang="en">
    <head>

        <title>Sell_Item</title>
        <link   rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="{% static "bower_components/css/new_item.css" %}">


    </head>

    <body>
      {% include "header.html" %}
      <div class="panel panel-primary" id="mainpanel">
        <div class="panel-heading" style="text-align:center;">
          <h2 style="font-size:30px" class="panel-title">{% trans "Want to sell something?" %}</h2>
        </div>
        <form action="/new_item" method="post" enctype="multipart/form-data">
          <div id="imageConatiner" class="form-group">
            <img src="{{instance.photos.url}}">
            <input type="file"  name="photos" id="photoButton">
          </div>

            <div class="form-group">
              <label for="title">Title: </label>
              <input id="title" class="form-control" type="text" name="title" value="{{form.title.value}}">
            </div>

            <div class="form-group">
              <label for="zipcode">Zipcode: </label>
              <input id="zipcode" class="form-control" type="text" name="zipcode" value="{{form.zipcode.value}}">
            </div>

            <div class="form-group">
              <label for="cost">Cost: </label>
              <input id="cost" class="form-control" type="text" name="cost" value="{{form.cost.value}}">
            </div>

            <div class="form-group">
              <label for="condition">Condition: </label>
              <input id="condition" class="form-control" type="text" name="condition" value="{{form.condition.value}}">
            </div>

            <div class="form-group">
              <label for="description">Description: </label>
              <textarea id="description" class="form-control" name="description" rows="8" cols="80"></textarea>
              <!-- <input id="description" class="form-control" type="text" name="description" value="{{form.description.value}}"> -->
            </div>
            <div id="buttondiv">
              <button class="btn btn-primary" type="send" name="send" id="updateButton" value="{{pid}}">Sell</button>
              <button class="btn btn-default" type="button" name="cancel" id="cancelButton" onClick="history.go(-1);">Cancel</button>
            </div>

          {% csrf_token %}
        </form>
      </div>
    </body>

</html>
