<html>
    <head>
        <title>UserProf</title>
    </head>
    <body>
        <p>UserProf</p>
         <div>
                 <div >
                    {{ user.username }}
                 </div>
                 <div>
                 	{{user.email}}
                 </div>
                <div >
                    {% if user.extendeduser.adminuser.registered %}
                    <div>
                        {% if garbage %}
                            {% for x in garbage %}
                                <p> {{x.title }}</p>
                                <p> {{x.cost }}</p>
                                <p> {{x.owner}}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
    </body>
</html>
