{% load staticfiles %}
<html>
  <link rel="stylesheet"
        href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
  <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "bower_components/css/style.css" %}">
  <head>
        <title>User Profile</title>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <ul>
        <li>Name: {{user.username}}</li>
        <li>Email: {{user.email}}</li>
      </ul>
    </div>
    <div id="footer_sub_page">
      {% include "footer.html" %}
    </div>
  </body>
</html>
